/* .habit-box {
    font-size: 25px;
    border: 4px solid #E44A4A;
    text-align: center;
    min-width: 49.58vw;
    max-width: 49.58vw;
} */

/* .container {
    /* padding: 50px; */
    /* margin: 0 100px;    padding * 2 
} */
