@font-face {
    font-family: 'Dovemayo_gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* ------------------------------ 하빗트래커, 디테일 페이지 공통 배경 / 타이틀 ------------------------------ */

/* 해빗트래커 배경 */
.habit_tracker_container {
    height: 100%;
    background-color: #FFF8DD;
    padding: 70px 200px 300px 270px;
    font-family: 'Dovemayo_gothic';
} 
.habit_tracker_container::after {
        display: block;
        content: "";
        clear: both;
}

/* 타이틀 */
.habit_tracker_title {
    text-align: center;
    font-size: 20px;
    color: #E44A4A;
    line-height: 50px;
    font-family: 'yg-jalnan';
    float: none;
    border: 3px solid #E44A4A;
    background-color: #FFF8DD;
    width: 400px;
    height: 50px;
    border-radius: 60px;
    padding-right: 20px;
    box-shadow: 2px 2px 2px 2px rgb(216, 203, 203);
}
/* 타이틀 원형 */
.habit_tracker_title_circle {
    text-align: center;
    line-height: 50px;
    color: #FFF8DD;

    float: left;
    width: 50px;
    height: 50px;
    border: 2px solid #E44A4A;
    border-radius: 50px;
    background-color: #E44A4A;
    margin-top: 17px;
}
.habit_tracker_title_circle_icon {
    float: left;
    width: 45px;
    height: 26px;
    color: #FFF8DD;
    margin-top: 14px;
    margin-left: 3px;
}

/* ------------------------------ 공통 end ------------------------------ */

/* ------------------------------  달력 ------------------------------ */

.habit_tracker_month, .habit_tracker_before_month, .habit_tracker_next_month {
    float: left;
    margin-top: 30px;
    font-family: 'yg-jalnan';
}
/* 달력 */
.habit_tracker_month {
    width: 1260px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #E44A4A;
}
.habit_tracker_before_month, .habit_tracker_next_month {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.my_habit_chart, .habit_list_container {
    float: left;
}

/* ------------------------------ 차트 ------------------------------ */

/* 차트 제목 */
.my_habit_chart_title {
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    color: #E44A4A; 
    float: none;
    background-color: #FFF8DD;
}

.my_habit_chart {
    position: relative;
    display: inline-block;
    width: 900px;
    height: 600px;
    border: 3px solid #E44A4A;
    border-radius: 3px;
    margin-top: 50px;
    margin-right: 50px;
    background-color: #E44A4A;
}

/* ------------------------------ 리스트 ------------------------------ */

/* 리스트 전체 div */
.habit_list_container {
    margin-top: 50px;
    width: 400px;
    height: 600px;
    overflow-y: auto; 
    overflow-x:hidden; 
    border: 3px solid #E44A4A;
    border-radius: 4px;
    background-color: #FFCACA;
}
/* 리스트 스크롤 */
.habit_list_container::-webkit-scrollbar {
    display: none;
}
.list_title_text, .edit_cancel {
    float: left;
}
/* 리스트 제목 박스 */
.habit_list_title {
    background-color: #E44A4A;
    color: #FFFFFF;
    height: 60px;
    font-size: 30px;
    line-height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 50;
    margin-bottom: 10px;
    text-align: center;
}
/* 제목 */
.list_title_text {
    width: 70%;
    margin-left: 15%;
}

/* 리스트 내용 전체 */
.list_box {
    width: 93.5%;
    height: 50px;
    line-height: 50px;
    border: 3px solid #E44A4A;
    border-radius: 10px;
    margin-left: 2.5%;
    margin-bottom: 10px;
    background-color: #FFFFFF;
}

.habit_list_remove, .habit_list_text, .editBtn {
    float: left;
}

/* 텍스트 */
.habit_list_text {
    width: 76%;
    height: 50px;
    line-height: 50px;
    text-decoration-line: none;
    color: #E44A4A;
    font-size: 25px;
}

/* 삭제 버튼 */
.habit_list_remove {
    margin: 2.5%;
    color: #FFCACA;
    cursor: pointer;
    height: 30px;
    width: 6%;
}
/* 바로가기 아이콘 */
.icon {
    margin-left: 10px;
 } 

 /* ------------------------------ 입력 ------------------------------ */

.insert_text, .insert_btn {
    float: left;
}

/* 입력 박스 전체 */
.habit_list_insert {
    width: 100%;
    height: 75px;
    display: flex;
    position: sticky;
    bottom: 0;
    border-top: 3px solid #E44A4A;
    margin-top: 10px;
    background-color: #FFCACA;
    
}
.habit_list_insert form {
    width: 100%;
    height: 75px;
    display: flex;
    position: sticky;
    bottom: 0;
}

/* 입력 input */
.insert_text {
    width: 76%;
    height: 50px;
    margin: 10px;
    background-color: #FFFFFF;
    border: 3px solid #E44A4A;
    border-radius: 10px;
    
}
.insert_text input {
    margin: 1%;
    width: 97%;
    height: 85%;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    color: #E44A4A;
    font-family: 'Dovemayo_gothic';
}
.habit_list_insert ::placeholder {
    color: #FFCACA;
    font-family: 'Dovemayo_gothic';
}

/* 입력 버튼 */
.insert_btn {
    margin-top: 10px;
    width: 13.5%;
    height: 50px;
    border: 3px solid #E44A4A;
    border-radius: 10px;
    background-color: #E44A4A;

}
.insert_btn button {
    /* margin-top: 10px; */
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 100%;
    border: #FFFFFF;

    border-radius: 8px;
    background-color: #E44A4A;
    cursor: pointer;
    outline: none;
    transition: 0.1s background ease-in;
}

.insert_btn button:hover {
    background-color: #FFFFFF;
    color: #E44A4A;
}


